@import './scss/vars.scss';

*{
   font-family : $font;
   color : #FF6060;
   margin : 0;
   padding : 0;
}

a{
   text-decoration: none;
}

@import './scss/Header.scss';
@import './scss/Rectangle.scss';
@import './scss/Gallery.scss';
@import './scss/Footer.scss';
@import './scss/Error.scss';
@import './scss/FicheLogement.scss';
@import './scss/APropos.scss';
