.APropos{
    &__content{
        min-height : 85vh;
        .InfoBulle{
            background : #F7F7F7;
            border-radius: 10px;
            transition : 0.3s;
            margin : 20px 200px;
            .open{
                height : 50px;
                cursor: pointer;
                h2{
                    color : #FFFFFFFF;
                    font-size : 16px;
                    font-weight : 500;
                    margin : 10px;
                }
                img{
                    transform: rotate(90deg);
                    width : 10px;
                    margin : 10px;
                    transition : 0.3s;
                }
                border-radius: 10px;;
                display : flex;
                background : $main-color;
                justify-content: space-between;
                align-items: center;
            }
            p{
                transition: 0.3s;
                padding : 10px 20px;
                line-height : 20px;
            }
        }
    }
}

@media (max-width : 768px) {
    
    .APropos{
        .Rectangle{
            height : 250px;
            &__image {
                height : 100%;
                img{
                    height : 100%;
                }
            }
        }
        &__content{
            .InfoBulle{
                margin : 20px 20px;
                .open{
                    height : 35px;
                }
            }
        }
    }
}