.Error{
    div{
        margin-top : 100px;
        text-align: center;
        h1{
            font-size: 200px;
        }
        p{
            font-size : 24px;
            margin-bottom : 100px;
        }
        a{
            text-decoration: underline;
        }
    }
}

@media (max-width : 768px) {
    .Error{
        div{
            margin-top : 300px;
            h1{
                font-size : 80px;
            }
            p{
                font-size : 20px;
                margin-top : 40px;
            }
        }
    }
}