.FicheLogement{
    margin : 40px 100px;
    .Carrousel{
        height : 415px;
        margin-bottom : 20px;
        border-radius: 20px;
        overflow : hidden;
        position : relative;
        .arrowLeft{
            position: absolute;
            top: 50%;
            left: 40px;
            white-space: nowrap;
            transform: translateX(-50%) translateY(-50%) rotate(180deg);
            cursor: pointer;
            img{
                width : 40px;
            }
        }
        .arrowRight{
            position: absolute;
            top: 50%;
            right: 0px;
            white-space: nowrap;
            transform: translateX(-50%) translateY(-50%) rotate(0deg);
            cursor: pointer;
            img{
                width : 40px;
            }
        }
        .marker{
            position: absolute;
            top: 90%;
            left: 50%;
            white-space: nowrap;
            transform: translateX(-50%) translateY(-50%);
            cursor: pointer;
            color : #FFFFFF;
        }
        img{
            width : 100%;
            height : 100%;
            object-fit : cover;
            max-height : 100%;
        }
    }
    &__header{
        display : flex;
        justify-content: space-between;
        &__left{
            h1{
                font-weight : 500;
                font-size: 32px;
            }
            p{
                margin-top : 10px;
            }
            ul{
                display : flex;
                gap : 10px;
                margin-top : 30px;
                list-style-type : none;
                li{
                    color : #FFFFFF;
                    background : $main-color;
                    width : 115px;
                    padding : 5px 0;
                    text-align : center;
                    border-radius : 10px;
                    font-size : 14px;
                    margin-top : 5px;
                }
            }
        }
        &__right{
            .Host{
                display : flex;
                justify-content: right;
                img{
                    border-radius: 200px;
                    width : 64px;
                    height : 64px;
                    object-fit : cover;
                }
                p{
                    margin : 10px;
                    width : 90px;
                    text-align: end;
                }
            }
            .Stars{
                margin-top : 20px;
                text-align: end;
            }
        }
    }
    &__main{
        margin-top: 20px;
        display : flex;
        gap : 40px;
        height : 300px;
        .InfoBulle{
            flex : 1;
            border-radius: 10px;
            transition : 0.3s;
            .open{
                cursor: pointer;
                h2{
                    color : #FFFFFFFF;
                    font-size : 16px;
                    font-weight : 500;
                    margin : 10px;
                }
                img{
                    transform : rotate(90deg);
                    width : 10px;
                    margin : 10px;
                    transition : 0.3s;
                }
                border-radius: 10px;;
                display : flex;
                background : $main-color;
                justify-content: space-between;
                align-items: center;
            }
            p{
                background : #F7F7F7;
                width : 100%;
                height : 100%;
                transition: 0.3s;
                line-height : 20px;
                border-radius : 0px 0px 10px 10px;
            }
            ul{
                background : #F7F7F7;
                width : 100%;
                height : 100%;
                transition: 0.3s;
                line-height : 20px;
                list-style-type: none;
                border-radius : 0px 0px 10px 10px;
            }
        }
        &__equipements{
            flex : 1;
        }
    }
}

@media (max-width : 768px) {
    .FicheLogement{
        margin : 40px 20px;
        .Carrousel{
            height : 200px;
            border-radius: 10px;
            .arrowLeft{
                left : 12px;
                img{
                    width : 15px;
                }
            }
            .arrowRight{
                img{
                    width : 15px;
                }
            }
        }
        &__header{
            flex-direction : column;
            h1{
                font-size : 20px;
            }
            &__right{
                margin-top : 20px;
                display : flex;
                flex-direction : row-reverse;
                justify-content: space-between;
                .Host{
                    img{
                        margin-top : 5px;
                        height : 42px;
                        width : 42px;
                    }
                }
                .Stars{
                    margin-top : 0;
                    display : flex;
                    text-align : start;
                    img{
                        margin-top : 20px;
                        height : 15px;
                        width : 15px;
                    }
                }
            }
        }
        &__main{
            min-height : 410px;
            height : auto;
            flex-direction  :column;
            &__part{
                flex : 0;
            }
            .open{
                height : 35px;
                margin-bottom : -20px;
            }
        }
    }
}