.Gallery{
    padding : 40px;
    background-color:  #F7F7F7;
    margin : 40px 100px;
    border-radius: 25px;
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    a{
        .Card{
            border-radius: 10px;
            margin : 30px;
            overflow : hidden;
            height : 300px;
            background: linear-gradient( 0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 40% );
            position : relative;
            img{
                width : 100%;
                height : 100%;
                object-fit : cover;
            }
            h2{
                margin : -50px 20px;
                font-weight : 400;
                color : #FFFFFF;
                position : relative;
                z-index : 2;
                font-size : 18px;
            }
            .cover-black{
                background: linear-gradient( 0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 40% );
                width : 100%;
                height : 100%;
                position : absolute;
                top : 0;
            }
        }
    }
}

@media (max-width: 1240px){
    .Gallery{
        background-color: #FFFFFF;
        grid-template-columns: 1fr 1fr;
        margin : 40px 20px;
        padding : 0px;
        a{
            .Card{
                margin : 10px;
                h2{
                    font-size : 18px;
                }
            }
        }
    }
}

@media (max-width: 768px)  {
    .Gallery{
        background-color: #FFFFFF;
        grid-template-columns: 1fr;
        margin : 40px 20px;
        padding : 0px;
        a{
            .Card{
                margin : 10px 0;
                h2{
                    font-size : 18px;
                }
            }
        }
    }
}

