.Rectangle{
    margin : 40px 100px;
    margin-bottom : -50px;
    overflow : hidden;
    &__image{
        background-color : black;
        border-radius : 25px;
        height : 223px;
        img{
            height : 223px;
            width : 100%;
            object-fit:cover;
            border-radius : 25px;
            opacity : 0.8;
        }
    }
    h1{
        color : white;
        position : relative;
        top : -143px;
        text-align : center;
        font-size : 48px;
        font-weight : 400;
    }
}

@media (max-width : 1240px){
    .Rectangle{
        h1{
            font-size : 28px;
        }
    }
}

@media (max-width : 768px){
    .Rectangle{
        margin : 10px 20px;
        margin-bottom : -60px;
        &__image{
            height : 120px;
            img{
                height : 120px;
            }
        }
        h1{
            text-align : start;
            font-size : 24px;
            top : -80px;
            padding : 0 25px;
        }
    }
}