@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

$font : 'Montserrat';
$main-color : #FF6060;
$gradient : linear-gradient(180deg, rgba(255,96,96,1) 50%, rgb(124, 46, 46) 100%);